<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.porpois">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Porpois">
        <activity
            android:name="edu.odu.porpois.ui.ActivityCreateNickname"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.MainActivity"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.Help"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.Try"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.Make"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.Go"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.Give"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.Connect"
            android:exported="false" />
        <activity
            android:name="edu.odu.porpois.ui.ActivityLoadScreen"
            android:exported="true"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>